@import url(https://fonts.googleapis.com/css?family=Didact+Gothic|Comfortaa:400,700&subset=latin,cyrillic);

body::-webkit-scrollbar {
    display: none;
}
* {
    padding: 0;
    margin: 0;
    font-family: 'Comfortaa', cursive; 
}
.intro {
    max-height: 100vh;
    overflow: hidden;
    position: relative;
}

.intro:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.intro_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

.intro_title {
    font-size: 60px;
    padding-bottom: 30px;
    color: #fff;
    text-align: center;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.video {
    position: relative;
    z-index: 1;
    padding-bottom: 56.25%;
}

.video_media {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}

.photo_2, .photo_3, .photo_4 {
    text-align: center;
}

p.info_1 {
    text-align: center;
    color: #fff;
}

.info_2, .info_3, .info_4 {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.photo_2 {
    padding-left: 50px;
}

button {
    border: none;
    border-radius: 15px;
    width: 150px;
    height: 45px;
    background-image: linear-gradient(315deg, #a39fa2 25%, #a39fa2 50%, #e1dfe1 75%, #e1dfe1 100%);
}

button:hover {
    transform: scale(1.1);
    background-image: linear-gradient(315deg, #e1dfe1 25%, #e1dfe1 50%, #a39fa2 75%, #a39fa2 100%);
    box-shadow: 0 0 5px #e1dfe1,
                 0 0 10px #e1dfe1,
                 0 0 25px #e1dfe1;
}

.btn {
   text-align: center;
   padding-top: 30px;
}
